//- index.jade
extends ./layout.jade

block prepend head
  title React Labs

block append head
  script(src='/index.js')
  link(rel='stylesheet', href='/base.css')

block content
  h1 Photoshop-liked Layer Control Pannel
  #game-container
  #bottom-bar
  #example
