//- test.jade
doctype html
html
  head
    meta(charset='UTF-8')
    title Hello React
    script(src='/react-0.13.3.min.js')
    script(src='/jquery-1.11.3.min.js')
    script(src='/matter-0.8.0.min.js')
    script(src='/marked-0.3.2.min.js')
  body
    #content
      script(src='/bundle.js')